body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:30px;
  width:97px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:50px;
  top:172px;
  width:930px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:913px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:930px;
  height:1px;
}
#u3 {
  position:absolute;
  left:55px;
  top:154px;
  width:71px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:330px;
  top:154px;
  width:57px;
  height:20px;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:50px;
  top:234px;
  width:797px;
  height:98px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:98px;
}
#u8 {
  position:absolute;
  left:2px;
  top:41px;
  width:793px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:147px;
  top:184px;
  width:98px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#009DD9;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:27px;
}
#u10 {
  position:absolute;
  left:2px;
  top:5px;
  width:94px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:50px;
  top:184px;
  width:97px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
}
#u12 {
  position:absolute;
  left:2px;
  top:5px;
  width:93px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:363px;
  top:184px;
  width:98px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#009DD9;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:27px;
}
#u14 {
  position:absolute;
  left:2px;
  top:5px;
  width:94px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:255px;
  top:184px;
  width:98px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#009DD9;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:27px;
}
#u16 {
  position:absolute;
  left:2px;
  top:5px;
  width:94px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:471px;
  top:184px;
  width:98px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#009DD9;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:27px;
}
#u18 {
  position:absolute;
  left:2px;
  top:5px;
  width:94px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:197px;
  top:362px;
  width:405px;
  height:49px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:49px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:197px;
  top:462px;
  width:390px;
  height:49px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:49px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:197px;
  top:570px;
  width:290px;
  height:49px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:49px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:197px;
  top:674px;
  width:360px;
  height:49px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:49px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:197px;
  top:774px;
  width:405px;
  height:49px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:49px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:197px;
  top:252px;
  width:405px;
  height:49px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:49px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:197px;
  top:868px;
  width:390px;
  height:49px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:49px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:652px;
  top:252px;
  width:155px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:27px;
}
#u34 {
  position:absolute;
  left:2px;
  top:5px;
  width:151px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:100px;
  top:674px;
  width:64px;
  height:64px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u36 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:100px;
  top:362px;
  width:64px;
  height:64px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u38 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:100px;
  top:774px;
  width:64px;
  height:64px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u40 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:100px;
  top:462px;
  width:64px;
  height:64px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u42 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:100px;
  top:252px;
  width:64px;
  height:64px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u44 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:100px;
  top:570px;
  width:64px;
  height:64px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u46 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:100px;
  top:868px;
  width:64px;
  height:64px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u48 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:197px;
  top:961px;
  width:390px;
  height:49px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:49px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:652px;
  top:362px;
  width:155px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:27px;
}
#u52 {
  position:absolute;
  left:2px;
  top:5px;
  width:151px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:649px;
  top:462px;
  width:155px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:27px;
}
#u54 {
  position:absolute;
  left:2px;
  top:5px;
  width:151px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:649px;
  top:570px;
  width:155px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:27px;
}
#u56 {
  position:absolute;
  left:2px;
  top:5px;
  width:151px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:649px;
  top:674px;
  width:155px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:27px;
}
#u58 {
  position:absolute;
  left:2px;
  top:5px;
  width:151px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:649px;
  top:774px;
  width:155px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:27px;
}
#u60 {
  position:absolute;
  left:2px;
  top:5px;
  width:151px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:652px;
  top:868px;
  width:155px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:27px;
}
#u62 {
  position:absolute;
  left:2px;
  top:5px;
  width:151px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:652px;
  top:961px;
  width:155px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:27px;
}
#u64 {
  position:absolute;
  left:2px;
  top:5px;
  width:151px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:183px;
  top:154px;
  width:98px;
  height:20px;
  font-size:14px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:255px;
  top:30px;
  width:65px;
  height:60px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:60px;
}
#u68 {
  position:absolute;
  left:2px;
  top:21px;
  width:61px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:320px;
  top:55px;
  width:60px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:3px;
  width:60px;
  height:5px;
}
#u70 {
  position:absolute;
  left:440px;
  top:30px;
  width:65px;
  height:60px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:60px;
}
#u71 {
  position:absolute;
  left:2px;
  top:22px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:625px;
  top:30px;
  width:65px;
  height:60px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:60px;
}
#u73 {
  position:absolute;
  left:2px;
  top:22px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:380px;
  top:55px;
  width:60px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:3px;
  width:60px;
  height:5px;
}
#u75 {
  position:absolute;
  left:505px;
  top:55px;
  width:60px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:3px;
  width:60px;
  height:5px;
}
#u76 {
  position:absolute;
  left:565px;
  top:55px;
  width:60px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:3px;
  width:60px;
  height:5px;
}
#u77 {
  position:absolute;
  left:259px;
  top:100px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:444px;
  top:100px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:629px;
  top:100px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
