body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:907px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:717px;
  top:804px;
  width:190px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:150px;
  top:804px;
  width:190px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:150px;
  top:222px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:250px;
  top:214px;
  width:510px;
  height:36px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:150px;
  top:158px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:250px;
  top:158px;
  width:124px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#009DD9;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:14px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:424px;
  top:158px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:524px;
  top:158px;
  width:49px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#009DD9;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:150px;
  top:568px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:250px;
  top:578px;
  width:290px;
  height:8px;
  font-size:12px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:8px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-4px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:280px;
  top:568px;
  width:20px;
  height:25px;
  font-size:12px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:560px;
  top:573px;
  width:18px;
  height:14px;
  font-size:12px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:250px;
  top:644px;
  width:290px;
  height:8px;
  font-size:12px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:8px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-4px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:280px;
  top:634px;
  width:20px;
  height:25px;
  font-size:12px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:560px;
  top:639px;
  width:40px;
  height:14px;
  font-size:12px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:150px;
  top:704px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:250px;
  top:714px;
  width:290px;
  height:8px;
  font-size:12px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:8px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-4px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:280px;
  top:704px;
  width:20px;
  height:25px;
  font-size:12px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:560px;
  top:709px;
  width:20px;
  height:17px;
  font-size:12px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:50px;
  top:30px;
  width:97px;
  height:33px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:150px;
  top:410px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:250px;
  top:412px;
  width:100px;
  height:18px;
}
#u42 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u41_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43 {
  position:absolute;
  left:380px;
  top:412px;
  width:100px;
  height:18px;
}
#u44 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u43_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45 {
  position:absolute;
  left:150px;
  top:350px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:250px;
  top:336px;
  width:510px;
  height:45px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:45px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u47_input:disabled {
  color:grayText;
}
#u48 {
  position:absolute;
  left:150px;
  top:517px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:250px;
  top:510px;
  width:160px;
  height:32px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u50_input:disabled {
  color:grayText;
}
#u51 {
  position:absolute;
  left:450px;
  top:510px;
  width:310px;
  height:32px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u51_input:disabled {
  color:grayText;
}
#u52 {
  position:absolute;
  left:255px;
  top:30px;
  width:65px;
  height:60px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:60px;
}
#u53 {
  position:absolute;
  left:2px;
  top:21px;
  width:61px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:320px;
  top:55px;
  width:60px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:3px;
  width:60px;
  height:5px;
}
#u55 {
  position:absolute;
  left:440px;
  top:30px;
  width:65px;
  height:60px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:60px;
}
#u56 {
  position:absolute;
  left:2px;
  top:21px;
  width:61px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:625px;
  top:30px;
  width:65px;
  height:60px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:60px;
}
#u58 {
  position:absolute;
  left:2px;
  top:22px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:380px;
  top:55px;
  width:60px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:3px;
  width:60px;
  height:5px;
}
#u60 {
  position:absolute;
  left:505px;
  top:55px;
  width:60px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:3px;
  width:60px;
  height:5px;
}
#u61 {
  position:absolute;
  left:565px;
  top:55px;
  width:60px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:3px;
  width:60px;
  height:5px;
}
#u62 {
  position:absolute;
  left:259px;
  top:100px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:444px;
  top:100px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:629px;
  top:100px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:150px;
  top:281px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:250px;
  top:267px;
  width:510px;
  height:45px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:45px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u70_input:disabled {
  color:grayText;
}
#u71 {
  position:absolute;
  left:150px;
  top:459px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:250px;
  top:445px;
  width:510px;
  height:45px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:45px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u73_input:disabled {
  color:grayText;
}
