body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:260px;
  width:930px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:913px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:930px;
  height:1px;
}
#u1 {
  position:absolute;
  left:55px;
  top:242px;
  width:29px;
  height:20px;
  font-size:14px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:130px;
  top:242px;
  width:29px;
  height:20px;
  font-size:14px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:60px;
  top:319px;
  width:57px;
  height:20px;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:150px;
  top:320px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8 {
  position:absolute;
  left:16px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u7_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9 {
  position:absolute;
  left:230px;
  top:319px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10 {
  position:absolute;
  left:16px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u9_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11 {
  position:absolute;
  left:810px;
  top:510px;
  width:170px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:335px;
  top:319px;
  width:445px;
  height:17px;
  font-size:12px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:17px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:310px;
  top:242px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:210px;
  top:242px;
  width:29px;
  height:20px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
